<footer class="text-white bg-black flex flex-col overflow-x-hidden">
  <div class="container flex flex-col justify-between sm:flex-row  sm:p-12 gap-8 py-8">
    <div class="text-base flex flex-col gap-5">
      <p class="font-GilroyBold">Address</p>
      <p class="font-GilroyRegular">
        Carrer de Torres i Amat, 21 3er<br>
        08001, Barcelona
      </p>
    </div>
    <div class="text-base font-GilroyBold flex flex-col gap-5 pr-20">
      <p>Follow us</p>
      <div class="flex flex-row gap-4">
        <a href="/" class="block w-5 transition duration-200 ease-in-out hover:opacity-70">
          <include src="icons/twitter.svg"></include>
        </a>
        <a href="/" class="block w-5 transition duration-200 ease-in-out hover:opacity-70">
          <include src="icons/instagram.svg"></include>
        </a>
        <a href="/" class="block w-5 transition duration-200 ease-in-out hover:opacity-70">
          <include src="icons/behance.svg"></include>
        </a>
      </div>
    </div>
  </div>
  <div class="border-t-2 border-solid border-gray-300 w-screen"></div>
  <div class="container flex flex-col justify-between sm:flex-row  sm:p-12 gap-8 py-8">
    <div class="font-GilroyBold flex gap-5">
      <a href="#" class=" transition ease-in-out duration-200 hover:opacity-70">Privacy policy</a>
      <a href="#" class=" transition ease-in-out duration-200 hover:opacity-70">Legal Notice</a>
    </div>
    <div class=>
      <a class="group font-GilroyRegular transition ease-in-out duration-200 hover:opacity-70" href="https://mortensen.cat" target="_blank" rel="noopener" title="Mortensen: digital agency in Barcelona. UX/UI Design and development">Made with <i class="text-[red]">♥</i> by <strong class="font-GilroyBold">Mortensen</strong></a>
    </div>
  </div>
</footer>
