<section>
  <div class="container max-w-screen-lg flex flex-col gap-5 items-center mt-8 sm:mt-16">
    <h1 class="font-GilroyBold text-xl sm:text-2xl text-center text-black">Content title</h1>
    <p class="font-GilroyRegular text-base sm:text-lg text-center text-black">"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. "</p>
  </div>
</section>
